body {
  margin: 0;
  background-color: #2a3d63;
  font-family: 'Open Sauce One', sans-serif;
  color: #1d1d1d;
}

h1, h2, h3, .dedicatoria {
  font-family: 'Pinyon Script', cursive;
}

nav {
  text-align: center;
  background-color: #2a3d63;
  padding: 15px;
}

nav a {
  color: #fdf5e5;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.card {
  background-color: #fdf5e5;
  border-radius: 25px;
  padding: 40px;
  margin: 40px auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.btn {
  background-color: #2a3d63;
  color: #fdf5e5;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
}

.flor-inicio {
  width: 90px;
  display: block;
  margin: 0 auto 10px auto;
}

.search-box {
  text-align: center;
  margin: 20px;
}

.search-input {
  padding: 8px 15px;
  width: 60%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.item {
  background: #fdf5e5;
  border-radius: 20px;
  margin: 15px auto;
  width: 80%;
  max-width: 800px;
  padding: 20px;
}

.hidden {
  display: none;
}
